<% include partials/header.ejs %>

<% var websiteName; %>

<% if (websiteName.toLowerCase() === "google") { %>
	<p>GOOGLE</p>
<% } else { %>
	<p>SOMETHING ELSE</p>
<% } %>

<% include partials/footer.ejs %>